# Python
venv/
__pycache__/
*.py[cod]
*$py.class
.env

# Database
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db

# App Data
clients.json
clients.json.backup
clients_backup.json
serviceAccountKey.json

# Logs & Binaries
*.log
ngrok
